@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500&display=swap");

@font-face {
  font-family: "Flowart";
  src: url("../../public/fonts/Flowart.ttf");
}
.responsiveNav{
  display: none;
}

.none{
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 100%;
  background: url("../../public/img/background.jpg");
  padding-bottom: 70px;
  background-size: cover;
  background-position: center;
  position: relative;
}

header nav .logo img {
  width: 250px;
  z-index: 5;
  position: relative;
}

header nav {
  padding: 30px 0 0 0;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  z-index: 5;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  z-index: 5;
  gap: 15px;
}
header nav ul li{
  padding: 10px 10px 10px 10px;
  transition: 250ms;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  z-index: 5;
}
/* header nav ul li a::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: red;
} */
header nav ul li:hover a{
  color: #AE1529;
}
header nav ul li:hover{
  border-bottom: 5px solid #AE1529;
}
header nav .navbar-logo {
  z-index: 5;
}

header nav .logosredes {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 455;
  justify-content: center;
}

header nav .logosredes img {
  cursor: pointer;
  padding: 10px;
  width: 20px;
  height: 20px;
  position: relative;
}
header nav .logosredes img:hover {
  background-color: rgb(180, 0, 0);
  border-radius: 10px;
}

.nav_resposive-container{
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80%;
  margin-top: 50px;
  height: 250px;
  transition: 300ms;
  transform: translateY(0);
}

.transition_menu{
  transform: translateY(-200%);
}
.nav_resposive-container li {
  z-index: 40;
  margin: 20px;
}
.nav_resposive-container li a{
  color: black;
}



.header-content {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .header_img-center {
  margin-bottom: 100px;
  width: 80%;
  max-width: 500px;
  min-width: 320px;
}

header .fridapequeno25 {
  position: absolute;
  left: 0;
  top: -40px;
  margin: 0 0 0 13%;
  z-index: 5;
  width: 150px;
  border-radius: 20px;
}

header .fridapequeno4 {
  position: absolute;
  right: 0;
  top: -110px;
  margin-right: 10%;
  z-index: 5;
  width: 180px;
  border-radius: 20px;
}

header .fridapequeno2 {
  position: absolute;
  left: 0px;
  top: 30%;
  margin-left: 20%;
  z-index: 5;
  width: 90px;
  border-radius: 20px;
}

header .fridapequeno18 {
  position: absolute;
  left: 7%;
  bottom: 20%;
  z-index: 5;
  width: 120px;
  border-radius: 20px;
}

header .fridapequeno14 {
  position: absolute;
  right: 0;
  top: 30%;
  margin-right: 5%;
  z-index: 5;
  width: 120px;
  border-radius: 20px;
}

header .fridamonkey {
  position: absolute;
  right: 0;
  bottom: 15%;
  margin-right: 5%;
  z-index: 5;
  width: 120px;
  border-radius: 20px;
}

.header-content h1,
h2 {
  text-align: center;
  color: white;
  z-index: 5;
}

.header-content h1 {
  font-size: 46px;
  width: 30%;
  padding-bottom: 20px;
}

.header-content h2 {
  font-size: 18px;
  width: 60%;
}

.header-content button {
  position: relative;
  top: 50px;
  padding: 30px;
  width: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #018540;
  color: white;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  z-index: 5;
  transition: 250ms ease-in-out;
  max-width: 600px;
  min-width: 250;
}

.header-content button:hover {
  animation-name: buttonChange;
  animation-duration: 550ms;
  animation-iteration-count: initial;
  background: rgb(175, 0, 0);
  transform: scale(105%);
}

header .header-bottom {
  display: flex;
  position: relative;
  top: 151px;
  width: 100%;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  z-index: -4;
  background-color: red;
}
header .header-bottom svg {
  width: 100%;
  fill: white;
}

.sectiontwo {
  background: url(../../public/about/composicion-1.jpg);
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 64;
  gap: 50px;
}

.header-content p {
  margin-top: 70px;
  color: white;
  font-weight: 500;
}
.about .container-grid {
  width: 100%;
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
  margin-left: 60px;
}

.about .one {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
  width: 90%;
  height: 60%;
  margin: 0 auto;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background: url(../../public/about/primera.png) hsla(148, 34%, 59%, 0.801);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.about .two {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 60%;
  width: 90%;
  margin: 0 auto;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background: url(../../public/about/segunda.png) hsla(0, 25%, 47%, 0.836);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.about .three {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background: url(../../public/about/tercera.png) hsla(148, 34%, 59%, 0.801);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.about .four {
  grid-row: 2/3;
  grid-column: 1/2;
  background: url(../../public/about/cuarta.png) hsla(0, 25%, 47%, 0.836);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 90%;
  height: 75%;
  margin: 100px auto;
  border-radius: 150px;
}

.about .five {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 90%;
  height: 65%;
  margin: 300px auto;
  border-radius: 150px;
  background: url(../../public/about/quinta.png) hsla(148, 34%, 59%, 0.801);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about .six {
  grid-column: 3/4;
  background: url(../../public/about/sexta.png) hsla(0, 25%, 47%, 0.836);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 90%;
  height: 98%;
  margin: 0 auto;
  border-radius: 150px;
}

.sectiontwo .about .textabout {
  width: 100%;
  padding-right: 70px;
  height: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;

 
}

.sectiontwo .about .textabout p{
  color: rgb(95, 95, 95);
  font-size: 17px;
  width: 550px;
}
.sectiontwo .about .textabout h3 {
  color: hsl(149, 98%, 26%);
  font-size: 50px;
  margin: 10px auto;
  font-family: "Flowart";
}
.sectiontwo .about .textabout .separation {
  width: 40px;
  height: 5px;
  background-color: hsl(128, 53%, 60%);
  margin-top: 20px;
  margin-bottom: 20px;
}
.sectiontwo .about .textabout .nft {
  color: hsl(0, 85%, 21%);
  font-size: 20px;
  font-weight: 700;
  margin-top: -25px;
}

.duales {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}
.duales .contenedor {
  width: 80%;
  height: 100%;
  margin: 30px auto 0 auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
/* CUADRADO UNO INICIO */
.duales .contenedor .cuadrouno {
  width: 570px;
  height: 100%;
  background: url("../../public/img/background-networks.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 10px 15px 10px;
}
.duales .contenedor .cuadrouno img {
  width: 140px;
  border-radius: 20px;
  margin-left: 50px;
}

.duales .contenedor .cuadrouno .textocuadradouno {
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.duales .contenedor .cuadrouno .textocuadradouno h3 {
  margin-bottom: 25px;
}
.duales .contenedor .cuadrouno .textocuadradouno .separationlineone {
  width: 35px;
  height: 5px;
  background-color: hsl(128, 53%, 60%);
  margin-bottom: 25px;
}
.duales .contenedor .cuadrouno .textocuadradouno p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* CUADRADO UNO FIN */
/* CUADRADO DOS INICIO */
.duales .contenedor .cuadrodos {
  width: 570px;
  height: 100%;
  padding: 15px 10px 15px 10px;
  background: url("../../public/img/background-networks.jpg");
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.duales .contenedor .cuadrodos img {
  width: 140px;
  border-radius: 20px;
  margin-left: 50px;
}

.duales .contenedor .cuadrodos .textocuadradodos {
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.duales .contenedor .cuadrodos .textocuadradodos h3 {
  margin-bottom: 25px;
}
.duales .contenedor .cuadrodos .textocuadradodos .separationlineone {
  width: 35px;
  height: 5px;
  background-color: hsl(128, 53%, 60%);
  margin-bottom: 25px;
}
.duales .contenedor .cuadrodos .textocuadradodos p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.roadmap {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.roadmap h1 {
  color: hsl(0, 85%, 21%);
  font-size: 48px;
  font-family: "Flowart";
  position: relative;

}

.roadmap .swiper {
  width: 90%;
  height: 450px;
}

.card-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 340px;
  margin-top: 150px;
}
.card-container h2{
  color:rgb(39, 124, 0);
  bottom: 25px;
  position: relative;
  font-size: 18px;
}

.line{
  width: 100%;
  position: absolute;
  margin-top: 25px;
  height: 5px;
  background-color: #630808;
}

.line::before{
  content: '';
  height: 20px;
  width: 20px;
  background-color: #B5162C;
  position: absolute;
  border-radius:  50cm;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card-container .card{
  position: relative;
  top: 50px;
  width: 90%;
  height: 63%;
  background-color: #630808;
  border-radius: 20px;
  border-top: 5px solid #B5162C;
  padding: 10px;
}

.card-container .card::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #B5162C;
  left: 0;
  right: 0;
  bottom: 105%;
  top: 0;
  margin: auto;
  transform: rotate(45deg);
  z-index: -3;

}

.card-container .card h3, h2{
  margin-top: 5px;
  color: white;
  font-weight: 450;
}

.card-container .card p{
  color: white;
  line-height: 120%;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}

/* EMPIEZA NETWORKS */
.container-networks {
  width: 100%;
  height: 100%;
  background: url("../../public/img/background-networks.jpg");
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.container-networks h2 {
  font-family: "Flowart";
  font-size: 50px;
  padding-top: 60px;
}

.container-networks .separation-line {
  width: 65px;
  height: 3px;
  background-color: hsl(352, 78%, 40%);
  margin: 30px auto;
}
.container-networks .networks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}
/*  INICIO FIRST IMG */
.container-networks .networks .networksone {
  width: 265px;
  height: 580px;
  background-color: hsl(352, 78%, 40%);
  border-radius: 30px;
}
.container-networks .networks .networksone img {
  width: 85%;
  border-radius: 30px;
  margin: 20px auto;
}

.container-networks .networks .networksone h3 {
  color: white;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
.container-networks .networks .networksone p {
  color: white;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
}
/*  FIN FIRST IMG */
/*  INICIO SECON IMG */
.container-networks .networks .networkstwo {
  width: 265px;
  height: 580px;
  background-color: hsl(352, 78%, 40%);
  border-radius: 30px;
}
.container-networks .networks .networkstwo img {
  width: 85%;
  border-radius: 30px;
  margin: 20px auto;
}

.container-networks .networks .networkstwo h3 {
  color: white;
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
}
.container-networks .networks .networkstwo p {
  color: white;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
}
/*  FIN SECON IMG */
/*  INICIO THIRD IMG */
.container-networks .networks .networksthree {
  width: 265px;
  height: 580px;
  background-color: hsl(352, 78%, 40%);
  border-radius: 30px;
}
.container-networks .networks .networksthree img {
  width: 85%;
  border-radius: 30px;
  margin: 20px auto;
}

.container-networks .networks .networksthree h3 {
  color: white;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
.container-networks .networks .networksthree p {
  color: white;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
}
/*  FIN THIRD  IMG */
/*  INICIO FOUR IMG */
.container-networks .networks .networksfour {
  width: 265px;
  height: 580px;
  background-color: hsl(352, 78%, 40%);
  border-radius: 30px;
}
.container-networks .networks .networksfour img {
  width: 85%;
  border-radius: 30px;
  margin: 20px auto;
}

.container-networks .networks .networksfour h3 {
  color: white;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
.container-networks .networks .networksfour p {
  color: white;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
}
/*  FIN FOUR  IMG */
@media (max-width: 1284px) {
  .desktop_nav{
    display: none !important;
  }
  .green_square {
    display: none;
  }
  .green_squaretwo {
    display: none;
  }
  .white_square {
    display: none;
  }
  .white_squaretwo {
    display: none;
  }
  .about {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .sectiontwo .about .textabout {
    width: 80%;
    height: 100%;
    margin: 80px auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 !important;
  }

  .sectiontwo .about .textabout p{
    width: 100%;
  }
  .sectiontwo .about .textabout .separation {
    width: 60px;
    height: 5px;
    background-color: hsl(128, 53%, 60%);
    margin: 15px auto;
  }
  .about .one {
    height: 50%;
  }
  .about .four {
    height: 90%;
    margin: 0 auto;
  }
  .about .two {
    height: 100%;
    background-size: 100%;
    margin: 0 auto;
  }
  .about .five {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 95%;
    background-size: 80%;
    margin: 0 auto;
  }
  .about .container-grid {
    margin: 0;
  }

  .responsiveNav{
    display: flex !important; 
  }
}

.frida_cantitys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px; 
}

.frida_cantitys h1 {
  color: #630808;
  font-size: 62px;
  font-family: "Flowart";
  margin-bottom: 70px;
  margin-top: -15px;
}

.frida_cantitys .countup-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.frida_cantitys .countup-container .countup {
  width: 280px;
  text-align: center;
  color: green;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.frida_cantitys .countup p {
  text-align: center;
  color: green;
  font-weight: 800;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  line-height: 70%;
}
.frida_cantitys .countup small {
  font-size: 25px;
  height: 40px;
  font-weight: 500;
}



@media (max-width: 1124px) {
  .fridapequeno25,
  .fridapequeno4,
  .fridapequeno2,
  .fridapequeno18,
  .fridapequeno14,
  .fridamonkey {
    display: none;
  }

  .header-content h1 {
    width: 500px;
  }

  .logo img{
    width: 20px;
  }
}
@media (max-width: 812px) {
  header {
    background-position: -300px 0;
  }
}
@media (max-width: 1285px) {
  .responsiveNav{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }

  .container_langs{
    display: flex;
    justify-content: flex-end;
  }

  .responsiveNav ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
 
  .logo{
    margin: 0 auto;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .nav_resposive-container{
    width: 70%;
    margin-left: 7%;
  }
}
@media (max-width: 500px) {

  .responsiveNav{
    display: grid !important;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 100px;
  }
  .container_langs{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
  }
  .logo{
    margin: 0 auto;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
  .header-content h1 {
    width: 100%;
    font-size: 10vw;
  }
  header {
    background-position: -400px 0;
  }

  .logosredes{
    position: absolute;
    top: 20px;
    left: 30vw;
  }
}

.link_cursor{
  cursor: pointer;
}

@media (max-width: 500px){
  .nav_resposive-container{
    margin-top: 100px !important;
  }
}
@media (max-width: 320px){
  .nav_resposive-container{
    width: 90%;
    margin-left: -15px !important;
  }
}
@media (max-width: 420px){
  .nav_resposive-container{
    width: 90%;
    margin-left: -20px;
  }

  .logosredes{
    position: absolute;
    top: 20px;
    left: 25vw;
  }
}

@media(max-width:325px){
  .container_langs{

    position: relative;
    right: 5px;
  }
}

.arrowed {
  margin-top: 50px;
  z-index: 5;
}

header .header-content .arrow-6 {
  height: 15px;
  width: 15px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-width: 5px 5px 0 0;
  transform: rotate(135deg);
  z-index: 5;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

header .header-content .arrow-6:nth-child(1) {
  border-color: rgba(255, 255, 255, 0.453);
  animation: movementOne 1s infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

header .header-content .arrow-6:nth-child(2) {
  border-color: rgba(255, 255, 255, 0.758);
  animation: movementTwo 1s infinite;
  animation-timing-function: ease-in-out;
  margin-top: -5px;
}

header .header-content .arrow-6:nth-child(3) {
  border-color: rgb(255, 255, 255);
  animation: movementThree 1s infinite;
  animation-timing-function: ease-in-out;
  margin-top: -5px;
}

@keyframes movementOne {
  0% {
    top: 0px;
  }

  50% {
    top: 5px;
  }

  100% {
    top: 0px;
  }
}

@keyframes movementTwo {
  0% {
    top: -5px;
  }

  50% {
    top: 3px;
  }

  100% {
    top: -5px;
  }
}

@keyframes movementThree {
  0% {
    top: -10px;
  }

  50% {
    top: 4px;
  }

  100% {
    top: -10px;
  }
}

.white_square {
  position: absolute;
  z-index: 6;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 3px solid white;
  border-radius: 10px;
  margin: -50px 30% 0 0;
  right: 0;
}
.green_square:nth-child(1) {
  position: absolute;
  left: 0;
}
.green_square {
  position: absolute;
  z-index: 6;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 3px solid rgb(39, 124, 0);
  border-radius: 10px;
  left: 0;
  margin: 10% 0 0 25%;
}
.white_squaretwo {
  position: absolute;
  z-index: 6;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 3px solid white;
  border-radius: 10px;
  left: 0;
  margin: 40% 0 0 20%;
}
.green_squaretwo {
  position: absolute;
  z-index: 6;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 3px solid rgb(39, 124, 0);
  border-radius: 10px;
  right: 0;
  margin: 40% 20% 0 0;
}

@keyframes buttonChange {
  0% {
    background: #018540;
    transform: scale(100%);
  }
  50% {
    background: gray;
    transform: scale(105%);
  }

  75% {
    background: rgb(175, 0, 0);
    transform: scale(100%);
  }
  100% {
    background: rgb(175, 0, 0);
    transform: scale(105%);
  }
}

/* Slider */

.draggable-container_up .swiper {
  width: 85%;
  height: 300px;
  transform: rotate(-4deg);
}

.draggable-container_down .swiper {
  width: 95%;
  transform: rotate(-4deg);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel_image {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel_image-one {
  background-image: url("../../public/carousel/1.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-radius: 20px;
  border-bottom: #AE1529 5px solid;
}

.carousel_image-two {
  background-image: url("../../public/carousel/2.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-radius: 20px;
  border-bottom: #AE1529 5px solid;
}
.carousel_image-three {
  background-image: url("../../public/carousel/3.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-four {
  background-image: url("../../public/carousel/4.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-five {
  background-image: url("../../public/carousel/5.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-six {
  background-image: url("../../public/carousel/6.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-seven {
  background-image: url("../../public/carousel/7.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-eight {
  background-image: url("../../public/carousel/8.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}
.carousel_image-nine {
  background-image: url("../../public/carousel/9.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #AE1529 10px solid;
  border-left: #AE1529 10px solid;
  border-bottom: #AE1529 5px solid;
  border-radius: 20px;
}

.down_carousel_image-one {
  background-image: url("../../public/carousel/11.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-two {
  background-image: url("../../public/carousel/12.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-three {
  background-image: url("../../public/carousel/13.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-four {
  background-image: url("../../public/carousel/14.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-five {
  background-image: url("../../public/carousel/15.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-six {
  background-image: url("../../public/carousel/16.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-seven {
  background-image: url("../../public/carousel/17.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-eight {
  background-image: url("../../public/carousel/18.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}
.down_carousel_image-nine {
  background-image: url("../../public/carousel/19.jpg");
  width: 250px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: #630808 30px solid;
  border-left: #630808 30px solid;
  border-bottom: #630808 5px solid;
  border-radius: 20px;
}



/* FOOTER  */
.footer {
  /* background-image: url("../public/img/footer-bg.jpg"); */
  background-image: url("../../public/img/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 56vh;
}
.footer .footer-up {
  width: 90%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  text-align: center;
}
.footer-up p {
  width: 35%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.footer-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-media button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.438);
  cursor: pointer;
  transition: all 250ms;
}
.footer-media button svg {
  fill: #ffff;
  margin: auto;
  display: flex;
  align-items: center;
}
.footer-media button:hover {
  transform: translateY(-8px);
  background-color: white;
}
.footer-media button:hover svg {
  fill: #b5172c;
}
.footer-separation {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: white;
}
.footer-down {
  width: 90%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

@media (max-width: 1000px) {
  .footer{
    height: 100% ;
  }
  .footer-up {
    height: 100% !important;
    padding: 50px 0;
  }
  .footer-up p {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .footer-up {
    flex-direction: column !important;
  }
  .footer-down{
    padding: 100px 0;
  }
}
@media (max-width: 750px) {
  .footer {
    height: 100% !important;
  }
  .footer-up {
    padding: 25px 0;
    flex-direction: column !important;
    height: 100% !important;
  }
  .footer-up p {
    width: 90% !important;
    margin: 0 auto;
  }
  .footer-down {
    padding: 50px 0 !important;
  }

  .down_carousel_image-one,
  .down_carousel_image-two,
  .down_carousel_image-three ,
  .down_carousel_image-four ,
  .down_carousel_image-five ,
  .down_carousel_image-six,
  .down_carousel_image-seven,
  .down_carousel_image-eight ,
  .down_carousel_image-nine{
    border-right: 10px solid #630808;
    border-left: 10px solid #630808;
  }

  .cuadrouno, .cuadrodos{
    display: flex;
    flex-direction: column;
  }

  .duales .contenedor .cuadrouno img, 
  .duales .contenedor .cuadrodos img{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .cuadrouno p,
  .cuadrodos p{
    text-align:center;
    padding-bottom: 30px;
  }
  .cuadrouno h3,
  .cuadrodos h3
  {
    text-align:center;
  }

  .separationlineone{
    margin: 0 auto;
  }

}
@media (max-width: 515px) {
  .footer-down {
    text-align: center !important;
    font-size: 12px !important;
    flex-wrap: wrap !important;
  }
  .footer-up img{
    width: 60% !important;
  }
}
@media(max-width:375px){
  .footer-down{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  .down_carousel_image-one,
  .down_carousel_image-two,
  .down_carousel_image-three ,
  .down_carousel_image-four ,
  .down_carousel_image-five ,
  .down_carousel_image-six,
  .down_carousel_image-seven,
  .down_carousel_image-eight ,
  .down_carousel_image-nine{
    border-right: 3px solid #630808;
    border-left: 3px solid #630808;
  }

  .carousel_image-one,
  .carousel_image-two,
  .carousel_image-three ,
  .carousel_image-four ,
  .carousel_image-five ,
  .carousel_image-six,
  .carousel_image-seven,
  .carousel_image-eight ,
  .carousel_image-nine{
    border-right: 3px solid #AE1529;
    border-left: 3px solid #AE1529;
  }
}

.ig{
  width: 35px;
  height: 35px;
  background: url('../../public/svg/instagram.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  bottom: -30px;
  margin: 0 auto;
  cursor: pointer;
}

.text-green{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0 auto;
  width: 90%;
  background: url('../../public/img/composicion-1.png');
  height: 100px;
  color: white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

@media (max-width:480px){
  .text-green{
    padding: 10px 10px 10px 10px;
    font-size: 12px;
  }
}

.separation_cantitys{
  width: 30px;
  height: 5px;
  background-color: hsl(128, 66%, 33%);
  margin-top: 20px;
  margin: 0 auto 60px auto;
}
.separation_roadmap{
  width: 60px;
  height: 5px;
  background-color: hsl(128, 66%, 33%);
  margin-top: 20px;
  margin: 20px auto 0 auto;
}



.swiper-button-prev{
  left: -3px !important;
  top: 158px !important;
  color: #630808  !important;
}
.swiper-button-next{
  right: -3px !important;
  top: 158px !important;
  color: #630808  !important;
}

.videos{
  width: 100%;
  height: 550px;
  background: url('../../public/img/background-networks.jpg');
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videos iframe{
  height: 500px;
  z-index:100;
	width:80%;
  max-width: 800px;
  min-width: 310px;
  object-fit: content;
  display:block;
}

.imagenTelegram{
  fill: white !important;
}

.container_langs{
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: flex;
}

.container_langs p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_langs img{
  margin-right:5px;
}

.container_langs i {
  margin-bottom: 5px;
  margin-left: 5px;
}
  .sub_language{
    background-color: white;
    padding: 16px;
    color: black;
    position: absolute;
    margin-top: 25px;
    margin-right: -5px;
    cursor: pointer;   
    z-index: 450;
}
.sub_language small{
  font-size: 12px;
  font-weight: 700;
}
.sub_language:hover{
  background-color: rgb(185, 185, 185);
}



.responsiveNav .hamburger{
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  color: white;
}

.ytp-cued-thumbnail-overlay-image,
.ytp-cued-thumbnail-overlay{
  background-color: red !important;
}

@media (max-width:550px) {
  .container-grid{
    height: 450px !important;
  }

  .container-grid .one{
    height: 50%;
  }
  .container-grid .two{
    height: 100%;
  }
  .container-grid .three{
    height: 100%;
  }
  .textabout{
    margin-top: 10px !important;
  }
}
@media (max-width:400px) {
  .container-grid{
    height: 400px !important;
  }

  .container-grid .one{
   background-size: 130%;
  }
  .container-grid .two{
    background-size: 130%;
  }
  .container-grid .three{
    background-size: 130%;
  }
  .container-grid .four{
   background-size: 130%;
  }
  .container-grid .five{
    background-size: 130%;
  }
  .container-grid .six{
    background-size: 130%;
  }
  .textabout{
    margin-top: -10px !important;
  }
}


@media (max-width:1066px) {
  .duales{
    margin-top: -40px !important;
  }
}
@media (max-width:500px) {
  .duales{
    margin-top: -70px !important;
  }
}


.button_transparent{
  background-color: transparent;
  border: none;
  outline: none;
}